# FRAMZ OS — меню загрузки (BIOS). Оформление наше, команды — стандартные archiso.
DEFAULT framz
PROMPT 0
TIMEOUT 150

UI vesamenu.c32
MENU TITLE FRAMZ OS 1.0

LABEL framz
    MENU LABEL ^Запустить FRAMZ OS (без установки)
    LINUX /arch/boot/x86_64/vmlinuz-linux-zen
    INITRD /arch/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=arch archisolabel=FRAMZ_ARCH_1 quiet splash loglevel=3

LABEL install
    MENU LABEL ^Установить FRAMZ OS на диск
    LINUX /arch/boot/x86_64/vmlinuz-linux-zen
    INITRD /arch/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=arch archisolabel=FRAMZ_ARCH_1 quiet splash loglevel=3 framz_install=1

LABEL copyram
    MENU LABEL Загрузить в память (быстрее после старта)
    LINUX /arch/boot/x86_64/vmlinuz-linux-zen
    INITRD /arch/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=arch archisolabel=FRAMZ_ARCH_1 copytoram quiet splash loglevel=3

LABEL reboot
    MENU LABEL Перезагрузить
    COM32 reboot.c32

LABEL poweroff
    MENU LABEL Выключить
    COM32 poweroff.c32
