# FRAMZ OS — меню загрузки (BIOS).
DEFAULT framz
PROMPT 0
TIMEOUT 150

UI vesamenu.c32
MENU TITLE FRAMZ OS 1.0

LABEL framz
    MENU LABEL Установить FRAMZ OS
    LINUX /arch/boot/x86_64/vmlinuz-linux-zen
    INITRD /arch/boot/x86_64/initramfs-linux-zen.img
    APPEND img_loop=framz-os-arch-1.0-x86_64.iso img_dev=/dev/disk/by-label/FRAMZ_ARCH_1

LABEL live
    MENU LABEL Запустить без установки (Live)
    LINUX /arch/boot/x86_64/vmlinuz-linux-zen
    INITRD /arch/boot/x86_64/initramfs-linux-zen.img
    APPEND copytoram

LABEL memtest
    MENU LABEL Проверить память
    LINUX /syslinux/memtest

LABEL reboot
    MENU LABEL Перезагрузить
    COM32 reboot.c32
