[Desktop Entry]
Type=Application
Name=Установить FRAMZ OS
Comment=Поставить систему на диск (всё на диске будет стёрто)
Exec=sudo -E framz-install
Icon=framz-logo
Terminal=false
Categories=System;
