# FRAMZ OS — меню загрузки (UEFI). Первое, что видит человек с флешки.
set default="0"
set timeout="15"

menuentry "Установить FRAMZ OS" {
    linux /arch/boot/x86_64/vmlinuz-linux-zen img_loop=framz-os-arch-1.0-x86_64.iso img_dev=/dev/disk/by-label/FRAMZ_ARCH_1
    initrd /arch/boot/x86_64/initramfs-linux-zen.img
}

menuentry "Запустить без установки (Live)" {
    linux /arch/boot/x86_64/vmlinuz-linux-zen
    initrd /arch/boot/x86_64/initramfs-linux-zen.img
}

menuentry "Проверить память" {
    linux16 /syslinux/memtest
}

menuentry "Перезагрузить" {
    reboot
}
